.footer {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  color: var(--element8);
  font-size: 14px;
}

.cc {
  margin-bottom: 2px;
}

.cc + a {
  text-decoration: underline;
  text-decoration-color: var(--primary);
}
